<div class= container>
<br/><br/><br/>
<div class="row">
  <div class="col m8">
		<img class="materialboxed" width="650" src="<%=image_path("Cash_vs_7yr_Loan.png")%>"> </img>	
	</div>
	<div class="col m4">
		
	</div>
</div>
<br/>

<div class="row">
	<div class="col m4">
	Over the last 12 months, your facility consumed 281,136 kWh of electricity for total utility spend of $67,548. PG&E charges different rates depending on the time of day. Generally, it's priced high when it's in greatest demand during the day and lower at night. This graph illustrates your utility imports per utility price tier under your rate plan.
	</div>
  <div class="col m8">
		<img class="materialboxed" width="650" src="<%=image_path("Energy imports Before.png")%>"> </img>	
	</div>

</div>
<br/>
<br/>

<div class="row">
  <div class="col m8">
  	<img class="materialboxed" width="650" src="<%=image_path("Energy imports After.png")%>"> </img>
	</div>
	<div class="col m4">
	<p>
	The proposed solar asset would supply 90% of your annual energy usage, largely eliminating the highest-cost utility imports and reducing mid-tier priced imports by 59%. In the graph below, pre-solar imports are shown for reference (black dashed line). Total energy imports are reduced by 52%, and the resulting reduction in costs is discussed on the next page.
		
		
	</p>
		
	</div>
</div>
<br/>

<div class="row">
	<div class="col m4">
		
	</div>
  <div class="col m8">
  	<img class="materialboxed" width="650" src="<%=image_path("path_cascade.png")%>"> </img>
	</div>

</div>
<br/>

<div class="row">
	<div class="col m4">
		Knotty Hole Woodworks spends $0.240 per utility kWh, or $58,440 over the last 12 months, based on utility data you provided us. After deducting this amount from taxable income, your 12-month, after-tax spend on utility power is $35,100. The cumulative effect of your after-tax utility expense is reflected below, year by year.
	</div>
  <div class="col m8">
  	<img class="materialboxed" width="650" src="<%=image_path("saving in percentage.png")%>"> </img>
	</div>

</div>
<br/>

<div class="row">

  <div class="col m8">
  	<img class="materialboxed" width="650" src="<%=image_path("finance vs cash.png")%>"> </img>
	</div>
	<div class="col m4">
		
	</div>
</div>
<br/>
<div>
	 <a href=""><img width="150" src="<%=image_path("pdf.jpg")%>"> </img></a>	
</div>


</div>

